* {
  margin: 0;
  box-sizing: border-box;
  overflow: scroll;
}

.menu {
  display: inline-block;
  position: absolute;
  left: 2.5%;
  top: 5%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.dropdown-content {
    display: none;
    color: black;
    text-decoration: none;
    padding: 15px 0 15px 0;
    z-index: 1;
}

.menu:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.projectGrid {
  display: grid;
  grid-row-gap: 10px;
  margin: 10px 10px 10px 10px;
  grid-template-areas:
  'A A A A A A'  /* GRID FOR HEADER USE A*/
  'B B B B C C'  /* GRID FOR PROJECT 1 USE B*/
  'D D E E E E'  /* GRID FOR PROJECT 2 USE E*/
  'F F F F G G'  /* GRID FOR PROJECT 3 USE F*/
  'H H I I I I'  /* GRID FOR PROJECT 4 USE I*/
  'J J J J J J'; /* GRID FOR FOOTER USE J*/
}

.projectHeader {
  font-family: 'Ewert', cursive;
  font-size: 40px;
  grid-area: A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-color: black;
  color: black;
  text-align: center;
}

.RickMorty {
  grid-area: B;
  width: 100%;
  height: 100%;
}

.RickMortyOverlay {
  grid-area: C;
  color: white;
  background-color: #FD6EFB;
  text-align: center;
  position: absolute;
  top: 17.2%;
  left: 66.4%;
  width: 33%;
  height: 0%;
  transition: .5s ease;
}

.RickMortyText {
  grid-area: C;
  font-family: 'Bungee', cursive;
  padding-top: 50px;
}

.RickMorty:hover .RickMortyOverlay {
  grid-area: C;
  height: 80.3%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.DuckHunt {
  grid-area: E;
  width: 100%;
  height: 100%;
}

.DuckHuntOverlay {
  grid-area: D;
  color: white;
  background-color: #619FF8;
  text-align: center;
  position: absolute;
  top: 99%;
  left: 0%;
  width: 33.6%;
  height: 0%;
  transition: .5s ease;
}

.DuckHuntText {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  padding-top: 50px;
}

.DuckHunt:hover .DuckHuntOverlay {
  grid-area: C;
  height: 80.3%;
}

.Remedi {
  grid-area: F;
  width: 100%;
  height: 100%;
}

.RemediOverlay {
  grid-area: G;
  color: white;
  background-color: #546056;
  text-align: center;
  position: absolute;
  top: 180.8%;
  left: 66.4%;
  width: 33%;
  height: 0%;
  transition: .5s ease;
}

.RemediText {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
}

.Remedi:hover .RemediOverlay {
  grid-area: C;
  height: 86.1%;
}

.imageRemedi {
  display: block;
  width: 100%;
  height: 600px;
}

.WhoHasTime {
  grid-area: I;
  width: 100%;
  height: 100%;
}

.WhoHasTimeOverlay {
  grid-area: H;
  color: white;
  background-color: #450099;
  text-align: center;
  position: absolute;
  top: 268.3%;
  left: 0%;
  width: 33.6%;
  height: 0%;
  transition: .5s ease;
}

.WhoHasTime:hover .WhoHasTimeOverlay {
  grid-area: C;
  height: 80.3%;
}

.WhoHasTimeText {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  padding-top: 50px;
}

.project5 {
  grid-area: E;
  height: 100%;
}

.projectFooter {
  grid-area: J;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 40px;
  font-family: 'Ewert', cursive;
}

.spin {
  margin: 0 25px 0 25px;
  animation: logo 5s infinite linear;
  -webkit-animation: logo 5s infinite linear;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
