* {
  margin: 0;
  box-sizing: border-box;
}

.menu {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 35px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.dropdown-content {
    display: none;
    color: black;
    text-decoration: none;
    padding: 15px 0 15px 0;
    z-index: 1;
}

.menu:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.projectGrid {
  display: grid;
  grid-gap: 10px;
  margin: 0 10px 0 10px;
  grid-template-areas:
  'H H H H H H'
  'A A A A B B'
  'C C D D D D'
  'F F F F F F'
}

.projectHeader {
  font-family: 'Ewert', cursive;
  font-size: 40px;
  grid-area: H;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-color: black;
  color: black;
  text-align: center;
}

.project1 {
  grid-area: A;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project2 {
  grid-area: B;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.project3 {
  grid-area: C;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.project4 {
  grid-area: D;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.project5 {
  grid-area: E;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.projectFooter {
  grid-area: F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 40px;
  font-family: 'Ewert', cursive;
}

.spin {
  margin: 0 25px 0 25px;
  animation: logo 5s infinite linear;
  -webkit-animation: logo 5s infinite linear;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
